{{> header}}
    <h1 class="infoCoffrets">
    Coffret 
    {{#box.isCurrent}} courant {{/box.isCurrent}}
    {{^box.isCurrent}} non courant {{/box.isCurrent}}
    contenant {{box.prestations.length}} prestation(s).
    </h1>
    <div class="container">
        {{#box.prestations}}
        <div class="card">
            <h1 class="card-title">{{title}}</h1>
            <div class="card-img">
                <img src="/img/{{image}}">
            </div>
            <div class="card-footer">
                <span class="price">{{price}}€</span>
                <a class="rmPrest" href="/rmPrest/{{box._id}}/{{_id}}"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
        {{/box.prestations}}
    </div>
    {{^isCurrent}}
        <a href="/changeCurr/{{box._id}}" class="modifsBox">Sélectionner le coffret comme coffret courant</a>
    {{/isCurrent}}
        <a href="/delete/{{box._id}}" class="modifsBox">Supprimer le coffret</a>
    
{{> footer}}