{{> header}}
<h1 class="titreW">Récupérez votre cadeau !</h1>


{{^block}}

{{#recipientName}}
{{#message}}
<div class="messageCadeau">{{recipientName}} vous a laissé un message ! {{box.message}}</div>
{{/message}}
{{/recipientName}}

<div class="container">
        {{#box.prestations}}
        <div class="card">
            <h1 class="card-title">{{title}}</h1>
            <div class="card-img">
                <img src="/img/{{image}}">
            </div>
            <div class="description">
                {{description}}
            </div>
        </div>
        {{/box.prestations}}
    </div>

{{/block}}

{{#block}}
<p>Votre cadeau n'est pas encore disponible...</p>
<p>Il sera disponible le {{box.date}} !</p>
{{/block}}
{{> footer}}