<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/Header.css">
        <title>MyGiftBox</title>
        
    </head>

    <body>
        <div class="header">
            <a class="titre" href="/">MyGiftBox</a>
            <div class="connect">
                <ul>
                    <li><a href="/login">Connexion</a></li>
                    <li><a href="/signup">Inscription</a></li>
                </ul>
            </div>
        </div> 