{{> header}}
    <a href="https://mongodb.github.io/node-mongodb-native/api-articles/nodekoarticle1.html">To learn some mongoDB with NodeJS</a></br>
    <a href="https://www.npmjs.com/package/mustache">To learn some mustache template</a></br>
    <a href="https://expressjs.com/fr/guide/routing.html">Learn a bit of express for routing</a></br>
    <a href="http://docs.sequelizejs.com/manual/installation/getting-started">Using sequelize if needed</a></br>
    <a href="https://mongoosejs.com/">An ORM for MongoDB</a></br>
{{> footer}}