{{> header}}
<div>
    <button>Categorie 1</button>
    <button>Categorie 2</button>
</div>
<div>
    <div>Prestation name</div>
    <div>Image</div>
    <div>
        <span>Categorie: {{cat}}</span>
        <span>Price: 33€</span>
    </div>
</div>
{{> footer}}