{{> header}}
    
        <div class="pannelLog">
        <form method="post">
            <h1>Connexion</h1>
            <label ><p>Adresse email</p> <input name="mail" type="text"></label>
            <br>
            <label ><p>Mot de passe</p> <input name="password" type="password"></label>
            <br>
            <input type = "submit" value="Connexion">
        </form>
        <a href="/signup">Vous n'êtes pas encore inscrit ?</a>
        </div>
{{> footer}}
