{{> header}}
        <h1>{{locals.title}}</h1>
        <div class="connexionPannel">
        <form method="post">
            <label >Adresse email <input name="mail" type="text"></label>
            <label >Mot de passe <input name="password" type="password"></label>
            <input type = "submit" value="Connexion">
        </form>
        <a href="/signup">Vous n'êtes pas encore inscrit ?</a>
        </div>
{{> footer}}
