{{> header}}
<div class="pannelLog">
        <form method="post">
            <h1>Modifier votre mot de passe</h1>

            <div>
                <label ><p>Mot de passe</p> <input {{#passwordWarning}} class="inputWarning" {{/passwordWarning}} name="password" type="password"></label>

                {{#passwordIsSet}}
                        <span class="warning">Veuillez entrer un mot de passe</span>
                {{/passwordIsSet}}
            </div>
            <div>
                    <label ><p>Répeter votre mot de passe</p> <input {{#passwordMatch}} class="inputWarning" {{/passwordMatch}} name="passwordCheck" type="password"></label>

                    {{#passwordMatch}}
                        <span class="warning">Les mots de passe ne correspondent pas</span>
                    {{/passwordMatch}}
            </div>
            
            <input class ="pass" type = "submit" value="Confirmer">
            
            
            
        </form>
</div>
{{> footer}}

