{{> header}}
<h1>Ajout d'une prestation</h1>
<form method="post">
<div>
    <label ><p>Titre</p><input type="text" name="title" ></label>
</div>
<div>
    <label ><p>description</p><input type="text" name="description" ></label>
</div>

<div>
    <label ><p>prix</p><input type="number" name="price" min="0" ></label>
</div>

<div>
    <label ><p>image</p><input type="text" name="image" ></label>
</div>
<input class="pass" type = "submit" value="Ajouter">
</form>
{{> footer}}
