{{> header}}
<div class="navCat">
    {{#categories}}
        <a href="/catalog/{{title}}">{{title}}</a>
    {{/categories}}
</div>
<div class="container">
{{#prestations}}
<div class="card">
    <a  href="/catalog/{{category.title}}/{{title}}" >
        <div class="card-title">{{title}}</div>
        <div class="card-img"><img src="/img/{{image}}"></div>
    </a>
    <div class="card-footer">
            <div class="price">{{price}} €</div>
            <a class="addToCart" href="/addPrest/{{category.id}}/{{id}}"><i class="fas fa-cart-plus"></i></a>
    </div> 
</div>  
{{/prestations}}
</div>
{{> footer}}