{{> header}}
<div class="navCat">
    {{#categories}}
        <a href="/catalog/{{title}}">{{title}}</a>
    {{/categories}}
</div>

<div class="prestation-container">
    <div class="prestation">
        <h1>{{prestation.title}}</h1>
        <img src="/img/{{prestation.image}}">
        <div class="content">
            <div class="description">{{prestation.description}}</div>
            
            <div class="prestation-footer">
                    <div class="price">{{prestation.price}} €</div>
                        {{#connected}}
                            <a class="addToCart" href="/addPrest/{{category.id}}/{{prestation._id}}"><i class="fas fa-cart-plus"></i></a>
                        {{/connected}}
                   
        </div>
    </div>
</div>

{{> footer}}