{{> header}}
    <h1 class="titreW">Profil de l'utilisateur. Vous pouvez consulter le status de vos coffrets et modifier vos informations personnelles.</h1>
    <div class="container">
        {{#user.boxes}}
        {{^isCurrent}}
            <div class="box nonCurrent">
        {{/isCurrent}}
        {{#isCurrent}}
            <div class="box current">
        {{/isCurrent}}
            <p class="card-title">
                {{#isCurrent}}
                    Coffret en cours
                {{/isCurrent}}
                {{^isCurrent}}
                    Autre coffret
                {{/isCurrent}}
            </p>

                Nombre de prestation(s) : {{prestations.length}}
                {{#box.isPaid}}
                    Le coffret est validé et a été transmis au destinataire !
                    {{#box.isOpened}}
                        Il a été ouvert !
                    {{/box.isOpened}}
                    {{^box.isOpened}}
                        Il n'a pas encore été ouvert.
                    {{/box.isOpened}}
                {{/box.isPaid}}
                {{^box.isPaid}}
                    </br>Le coffret n'est pas validé !
                    <a href=/box/{{_id}}>Modifier le contenu du coffret</a>
                {{/box.isPaid}}
            </br>
            {{#urlGift}}
            <input disabled="disabled" value={{host}}/box/gift/{{user.id}}/{{urlGift}}> 
            {{/urlGift}}
            {{^urlGift}}
            <a class="linkProfile" href=/box/giftGenerate/{{_id}}>Génerer votre Url cadeau !</a> 
            {{/urlGift}}

        </div>
        {{/user.boxes}}
    </div>
    <a class="linkProfile" href="/profile/modify" class="modifProfil">Modifier mon mot de passe</a>
{{> footer}}