{{>header}}

<div class="prestation-container">
    <div class="prestation">
        <h1>{{prestation.title}}</h1>
        <img src="/img/{{prestation.image}}">
        <div class="content">
            <div class="description">{{prestation.description}}</div>
            
            <div class="prestation-footer">
                    <div class="price">{{prestation.price}} €</div>
                    <a class="rmPrest" href="/rmPrest/{{box._id}}/{{prestation._id}}"><i class="fas fa-trash-alt"></i></a>                   
            </div>
        </div>
    </div>
    <a class="retour" href="/box/{{box._id}}">Retourner au coffret</a>
</div>


{{>footer}}