{{> header}}
        <h1>{{locals.title}}</h1>
        <div class="inscriptionPannel">
            <form method="post">
                <label >Adresse email <input name="mail" type="text"></label>
                <label >Mot de passe <input name="pass" type="password"></label>
                <label >Répeter votre mot de passe <input name="pass" type="password"></label>
                <input type = "submit" value="Inscription">
            </form>
            <a href="/login">Déjà inscrit ?</a>
        </div>
{{> footer}}