{{> header}}
      
        <div class="pannelLog">
            <form method="post">
                <h1>Inscription</h1>
                <label ><p>Adresse email</p> <input name="mail" type="text"></label>
                <br>
                <label ><p>Mot de passe</p> <input name="password" type="password"></label>
                <br>
                <label ><p>Répeter votre mot de passe</p> <input name="passwordCheck" type="password"></label>
                <br>
                <input class="pass" type = "submit" value="Inscription">
            </form>
            <a href="/login">Déjà inscrit ?</a>
        </div>
{{> footer}}
