{{>header}}
<h1>Coffret à destination de {{box.recipientName}}</h1>
    <div class="box">
        {{#box.isPaid}}
        Votre coffret est validé !
            {{#box.isOpened}}
            Il a été ouvert !
            {{/box.isOpened}}
            {{^box.isOpened}}
            Il n'a pas encore été ouvert.
            {{/box.isOpened}}
        {{/box.isPaid}}
        {{^box.isPaid}}
        Votre coffret n'est pas validé !
        {{/box.isPaid}}
    </div>
{{> footer}}