.titreProfil {
  padding-top: 20px;
  padding-left: 20px; }

.box {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  grid-column: 1;
  padding: 5px; }

.modifProfil {
  padding-left: 20px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
.card-img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.header {
  display: flex;
  flex-direction: row;
  background-color: lime;
  align-content: space-between; }
  .header .connect {
    margin-left: auto; }
    .header .connect ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      flex-direction: row-reverse; }
      .header .connect ul li {
        margin-left: 15px; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x1707/e5e66a7fb493c1c8aba4c65c31b6389d/photo-1512916206820-bd6d503c003e"); }

img, .card-img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

.card {
  display: block;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  grid-column: 1span;
  text-decoration: none;
  justify-content: space-between; }
  .card a {
    text-decoration: none; }

.card-img {
  padding: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
  transform: scale(0.9);
  opacity: 0.9; }

.card:hover > .card-img {
  transform: scale(1);
  opacity: 1; }

.card:hover > a > .card-img {
  transform: scale(1);
  opacity: 1; }

.card-title {
  color: white;
  font-weight: bold;
  background-color: #0d2347;
  padding: 1em;
  font-weight: 1.8em;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0px 1px lightgrey;
  transition: 0.7s;
  padding: 1em;
  font-weight: 1.8em; }

.card-footer {
  padding: 0.7em;
  background-color: #0d2347;
  box-shadow: 0px 1px lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.8em; }
  .card-footer .addToCart {
    color: white;
    text-decoration: none;
    transition: 0.5s; }
  .card-footer .addToCart:hover {
    color: green;
    transform: scale(1.3); }
  .card-footer .price {
    color: white;
    font-weight: bold; }

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px; }
  @media screen and (max-width: 1000px) {
    .container {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 500px) {
    .container {
      grid-template-columns: 1fr; } }

.navCat {
  margin-left: 20px;
  margin-top: 20px; }
  .navCat a {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 5px;
    color: black; }
    .navCat a:hover {
      color: white;
      background-color: black; }

.pannelLog {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(13, 35, 71, 0.4), 0 6px 20px 0 rgba(13, 35, 71, 0.41);
  width: 30%;
  margin: auto;
  margin-top: 10%; }
  .pannelLog h1 {
    color: #0d2347;
    font-weight: bold;
    padding: 0.2em;
    margin-bottom: 1em; }
  .pannelLog label:hover {
    color: #0d2347; }
  .pannelLog label input {
    border-radius: 10px;
    padding: 0.5em;
    border: none;
    width: 70%;
    border-bottom-style: solid;
    border-radius: 0px;
    border-width: 1px;
    transition: 0.1s;
    margin-bottom: 1em; }
  .pannelLog label input:focus {
    color: #0d2347;
    border-width: 2px; }
  .pannelLog .pass {
    border: none;
    padding: 10px;
    background-color: #0d2347;
    color: white;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #0d2347;
    transition: 1s; }
  .pannelLog .pass:hover {
    border-style: solid;
    border-color: #0d2347;
    color: #0d2347;
    background-color: white; }
  .pannelLog h1 {
    font-size: 2.5em;
    background-color: #0d2347;
    color: white; }
  .pannelLog a {
    color: #0d2347;
    margin: 1em;
    text-align: right;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold; }
  .pannelLog a:hover {
    color: #a34aad; }

@media only screen and (max-width: 1024px) {
  .pannelLog {
    width: 30%; } }
@media only screen and (max-width: 60em) {
  .pannelLog {
    width: 90%; } }
.navCat {
  margin-left: 20px;
  margin-top: 20px; }
  .navCat a {
    border: none;
    padding: 10px;
    background-color: #0d2347;
    color: white;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #0d2347;
    transition: 1s; }
    .navCat a:hover {
      border-style: solid;
      border-color: #0d2347;
      color: #0d2347;
      background-color: white; }

/*# sourceMappingURL=Style.css.map */
