.titreW {
    padding-top : 20px;
    padding-left : 20px;
}

.box {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    grid-column: 1,5;
    padding : 5px;
}

.modifProfil {
    padding-left: 20px;
}

.nonCurrent {
    background-image: linear-gradient(gray, #b3b3b3, gray);
}

.current {
    background-color: white;
}